# requirements.txt

flask
google-genai
python-dotenv
numpy

# Library OpenCV untuk Production
opencv-python-headless

# === PENTING: Paket ini menginstall dependensi sistem Linux untuk OpenCV ===
# Ini akan menjalankan perintah 'apt-get install' otomatis di Vercel
--find-links https://github.com/julian-r/python-wheels/releases
opencv-contrib-python-headless==4.8.1.78
